@font-face {
  font-family: DMSerifDisplay;
  src: url("fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
}

.bigtext {
  font-family: DMSerifDisplay;
  font-size: 29px;
  font-weight: 900;
  font-stretch: ultra-expanded;
  color: red;
  -webkit-text-stroke: 0.1px black;
  /* maybe set back to 
  text-shadow: 2px 1px #000;
  */
}

.bg-gray {
  background-color: #b8b8b8;
}

.navbar {
  border-bottom: solid 4px #f00;
}

/* TODO: style menu items. Maybe red? Definitely a different font/weight */

.page-title {
  text-align: center;
  font-family: DMSerifDisplay;
  color: red;
  -webkit-text-stroke: 1.7px black;
  font-size: 70px;
}

.card {
  max-width: 300px;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.fill img {
  flex-shrink: 0;
  min-width: 200px;
  min-height: 300px;
}

h2 {
  margin-left: 20px;
}
